.active>a:hover{
background-color: #81DAF5;

}

.active>a{
    background-color: #2ECCFA;
    
    }

.navbar-default{
    background-color : #A9E2F3;
}
li{
    border: 1px #A9E2F3 solid;
    font-size: 10px;
}
.glyphicon{
    color: #0404B4;
    cursor: pointer;
    font-size: 20px;
    display: block;
    
}
.users{
    display: flex;
    flex-direction: row;
    justify-content:center;
}