<form #f="ngForm" (ngSubmit)="submit(f)">
  <div class="form-group">
    <label for="username">USERNAME
      <input required ngModel name="username" #username="ngModel" id="username" type="text" class="form-control">
      <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
        <div *ngIf="username.errors.required">username is required</div>
      </div>
    </label>
    <div class="form-group">
      <label for="password">PASSWORD
        <input required ngModel name="password" #password="ngModel"id="password" type="password" class="form-control">
        <div *ngIf="password.touched && password.invalid" class="alert alert-danger">password is required</div>
      </label>
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
  </div>
</form>
<div *ngIf="toto == false">Username or Password Incorrect</div>